# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/

# Environment variables

# IDEs and OS files
.vscode/
.DS_Store

# Explicitly Track Core Configs for Team
!.env
!.env.local
!package.json
!package-lock.json
!requirements.txt